@use "../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Main App view
// ----------------------------------------

body {
    min-width: variables.$app-min-width;
}

.main-view {
    box-sizing: border-box;

    // Open state adds 110px to $side-margin
    margin-left: variables.$side-margin;
    padding: 30px variables.$side-margin 60px 0;
    position: relative;

    &.open {
        margin-left: 130px;
    }

    .title {

        h1 {
            font-size: 23px;
            font-weight: 100;
            color: variables.$table-title-color;
            padding: 0 0 6px;
            margin: 0;
        }

        h4 {
            font-size: 11px;
            color: variables.$medium-prim-color;
        }
    }

    .controls-container {
        margin-bottom: 20px;

        > h1 {
            font-size: 23px;
            font-weight: 100;
            color: variables.$table-title-color;
            padding: 0 0 6px;
            margin: 0;
        }

        > h4 {
            font-size: 11px;
            color: variables.$medium-prim-color;
        }

        .filters-container {
            float: right;
            position: relative;
            display: flex;

            // Refactor if ">" selector is not there the filters break
            > span {
                color: variables.$light-prim-color;
                display: inline-block;
                margin-right: 20px;
            }

            strong {
                color: variables.$medium-prim-color;
            }

            .drop-down-container {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

            }

            .search {
                margin-right: 10px;
                width: variables.$small-input-width;

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }

    #tbl-view-controls-container {
        margin: 20px auto;

        .pagination {
            margin: 0 auto;
            text-align: center;

            button {
                display: inline-block;
                padding: 7px 10px;
                margin-right: 4px;
                border-radius: variables.$main-border-radius - 1;
                font-weight: 600;
                background: linear-gradient(variables.$white, variables.$color-lightgray);
                border: variables.$thin-border-stroke variables.$main-border-color;
                box-shadow: inset 0px 1px 0px 0px variables.$white, 0px 1px 2px variables.$color-button-box-shadow;
                color: variables.$medium-prim-color;

                &:hover:not(.active) {
                    background: linear-gradient(variables.$white-dark-1, variables.$color-lightgray-dark-1);
                    color: variables.$medium-prim-color;
                }

                &:active {
                    box-shadow: inset 0px 1px 6px 2px variables.$color-button-box-shadow;
                }

                > i {
                    font-size: 10px;
                }
            }

            .active {
                // display: inline-block;
                // padding: 7px 10px;
                // margin-right: 4px;
                border: none;
                background: variables.$medium-prim-color;
                box-shadow: inset 0 0 8px variables.$color-pagination-active-box-shadow;
                color: variables.$off-white;
                text-shadow: 0 0 3px variables.$color-pagination-active-box-shadow;
            }
        }

        .drop-down-container {
            float: right;
        }
    }
}
