@use "sass:color";
@use "../base/fontawesome/fa-variables";
@use "../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Alert Styles

// Mixin
@mixin alert-variant($background, $border, $text-color) {

    background: $background;
    border: 1px solid $border;

    p {
        color: $text-color;
    }

    a {
        color: color.adjust($text-color, $lightness: 10%);

        &:hover {
            color: $text-color;
        }
    }
}

// Warning Symbol Mixin
@mixin warning-symbol($alert-type) {
    p, a, h1, h2, h3, h4, h5, h6 {
        &:first-of-type:before {
            content: fa-variables.$fa-icon-warning-sign;
            font-family: FontAwesome;
            font-size: variables.$modal-alert-fa-size;
            color: '$state-${$alert-type}-text';
            margin-right: 5px;
        }
    }
}

// Alerts

// New notifications

.notifications-top-right {
    top: 15px;
    right: 15px;
    .alert {
         float:right;
    }
}

.notifications-top-left {
    top: 15px;
    left: 15px;
    .alert {
         float:left;
    }
}

.notifications-top-center {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.notifications-bottom-right {
    display: flex;
    flex-direction: column-reverse;
    bottom: 15px;
    right: 15px;
    .alert {
         float:right;
    }
}

.notifications-bottom-left {
    display: flex;
    flex-direction: column-reverse;
    bottom: 15px;
    left: 15px;
    .alert {
         float:left;
    }
}

.notifications-bottom-center {
    display: flex;
    flex-direction: column-reverse;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.global-notifications {
    position: fixed;
    max-width: 300px;
    z-index: variables.$max-z;

    .alert {
        .close {
            position: unset;
            float: right;
            font-size: unset;
        }
        &.sticky {
            margin: 5px 0 10px;
        }
        p {
            display: block;
        }
    }

    .alert:hover {
      filter: brightness(105%);
    }
}

.alert {
    min-height: 40px;
    border-radius: variables.$main-border-radius;
    position: absolute;
    top: 20px;
    left: 0px;
    right: 20px;
    z-index: variables.$max-z;
    font-weight: 600;
    padding: 0 15px;
    overflow: hidden;

    &.sticky {
        margin: 10px 0 20px;
        position: relative;
        top: auto;
    }

    a {
        text-decoration: underline;
    }

    .close {
        position: absolute;
        right: 10px;
        font-size: 20px;
        margin-top: 9px;
        transition: variables.$alert-transition;
        text-decoration: none;
        color: inherit;
    }

    p {
        color: #fff;
        margin: 12px 0 !important;
        line-height: 16px;
    }

    // Alert Colors
    // Color variables are located in assets/less/base/_variables.less

    &.info {
        @include alert-variant(variables.$state-info-bg, variables.$state-info-border, variables.$state-info-text);
    }

    &.warning {
        @include alert-variant(variables.$state-warning-bg, variables.$state-warning-border, variables.$state-warning-text);
        @include warning-symbol(warning);
    }

    &.success {
        @include alert-variant(variables.$state-success-bg, variables.$state-success-border, variables.$state-success-text);
    }

    &.error {
        @include alert-variant(variables.$state-danger-bg, variables.$state-danger-border, variables.$state-danger-text);
        @include warning-symbol(danger);
    }
}

.modal .alert.sticky {
    margin: 0 0 20px;
}
