@use "../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


.form-container {
    max-width: 100%;
    padding: 0;
    margin: 15px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    label {
        color: variables.$medium-prim-color;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="date"],
    input[type="time"],
    input[type="checkbox"],
    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 5px 0;
    }

    textarea {
        padding: 15px 20px;
        resize: none;
    }

    .row {
        display: block;
        width: 100%;
        margin: 15px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        label,
        input {
            display: block;
        }

        input {
            float: none;
        }

        input[type="radio"] {
            float: left;
            margin: 1px 5px 0 0;
        }

    }

    .button-container {
        padding: 10px 0;

        a {
            padding: 10px 20px;
        }
    }

    &.compact {
        margin: 0;
    }

    > .drop-down-container {
        width: 100%;
    }
}
