@use "sass:color";
@use "../base/fontawesome/fa-mixins";
@use "../base/fontawesome/variables" as variables2;
@use "../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Input's
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="time"],
input[type="date"],
textarea {
    height: variables.$input-height;
    width: 130px;
    font-family: variables.$font-stack;

    background: #fff;
    border: variables.$thin-border-stroke variables.$main-border-color;
    border-radius: variables.$main-border-radius;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: variables.$medium-prim-color;

    &::placeholder {
        color: variables.$color-darkgray;
    }

    &:hover {
        border: variables.$thin-border-stroke color.adjust(variables.$main-border-color, $lightness: -20%);
    }

    &:focus {
        border: variables.$thin-border-stroke variables.$l-blue;
    }

    // Error border
    &.error {
        border: variables.$thin-border-stroke variables.$alt-red;
        color: variables.$red;
    }

    // Input icons
    // ----------------------------------------

    &#email {
       background-image: url("#{variables.$img-path}/user-input-icon.png");
       background-size: 23px 20px;
       background-repeat: no-repeat;
       background-position: 14px center;
    }

    &#password {
        background-image: url("#{variables.$img-path}/key-icon.png");
        background-size: 16px 20px;
        background-repeat: no-repeat;
        background-position: 19px center;
    }

    &.search,
    &#search {
        appearance: none;
        vertical-align: top;
        padding: 0 20px 0 40px !important;
        height: 40px;

        &.expand {
            transition: width 0.2s ease-in;

            &:focus {
                width: 200px;
            }
        }
    }

    &.small {
        padding: 15px;
        height: 30px;
    }
}

textarea {
    padding: 10px 20px;
    height: auto;
}

select[multiple] {
    background: #fff;
    border: variables.$thin-border-stroke variables.$main-border-color;
    border-radius: variables.$main-border-radius;
    padding: 10px;
    color: variables.$medium-prim-color;
    font-size: 13px;

    &:focus {
        border: variables.$thin-border-stroke variables.$l-blue;
        outline: none;
    }
}

// Input made by Joshua Hibbert | http://codepen.io/joshnh/pen/hjbuH
input[type="checkbox"].ios,
input[type="radio"].ios {

    $white: #fff;
    $grey: #d3d3d3;
    $transition-duration: 250ms;

    background-color: color.adjust($white, $lightness: -2%);
    border: 1px solid $grey;
    border-radius: 26px;
    box-shadow: inset 0 0 0 1px $grey;
    cursor: pointer;
    height: 28px;
    position: relative;
    transition: border $transition-duration 150ms, box-shadow $transition-duration 300ms, padding $transition-duration;
    width: 44px;
    vertical-align: top;

    &:after {
        background-color: $white;
        border: 1px solid $grey;
        border-radius: 24px;
        box-shadow: inset 0 -3px 3px hsla(0, 0%, 0%, 0.025), 0 1px 4px hsla(0, 0%, 0%, 0.15), 0 4px 4px hsla(0, 0%, 0%, 0.1);
        content: '';
        display: block;
        height: 24px;
        left: 0;
        position: absolute;
        right: 16px;
        top: 0;
        transition: border 250ms 150ms, left 250ms 100ms, right 150ms 175ms;
    }

    &:checked {
        border-color: variables.$green;
        box-shadow: inset 0 0 0 13px variables.$green;
        padding-left: 18px;
        transition: border 250ms, box-shadow 250ms, padding 250ms 150ms;

        &:after {
            border-color: variables.$green;
            left: 16px;
            right: 0;
            transition: border 250ms, left 150ms 250ms, right 250ms 175ms;
        }
    }
}

// Select chosen
.chosen-results {
    width: 100%;
}

.search-container {
    @include fa-mixins.fa-icon(variables2.$fa-var-search, after, inline, 0, 0, inherit, 13px);
    position: relative;

    &:after {
        position: absolute;
        top: 13px;
        left: 10px;
    }
}

