@use "../base/variables";
@use "../mixins/mixins-config";
@use "../mixins/button";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Table styles
.action-bar {
    border: 1px solid variables.$main-border-color;
    border-bottom: none;
    border-top-left-radius: variables.$main-border-radius;
    border-top-right-radius: variables.$main-border-radius;
    background: linear-gradient(to bottom, variables.$white, variables.$color-lightgray);

    $action-icon-margin: 0 4px 0 0;

    ul {
        padding: 10px 12px 12px;
        display: flex;
        justify-content: flex-end;
    }

    button {
        color: variables.$ref-blue;

        &:hover {
            color: variables.$l-blue;
        }
    }
}

.main-tbl {
    $border-color: variables.$main-border-color;
    $col-padding: 7px;

    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0;
    border-radius: variables.$main-border-radius;
    border: variables.$thin-border-stroke $border-color;

    @mixin apply-row-stripe() {
        box-sizing: border-box;
        background: variables.$color-lightgray;

        > td {
            border-top: 1px solid variables.$lighter-border-color;
            border-bottom: 1px solid variables.$lighter-border-color;

            > .hidden-input {
                background: variables.$color-lightgray;
            }
        }
    }


    &.highlight-hover tr:hover {
        background-color: variables.$table-highlight;
    }

    th {
        &.sortable {
            cursor: pointer;
            &:hover {
                background: linear-gradient(to bottom, variables.$off-white, variables.$table-off-white-gradient);
            }
            &:active {
                box-shadow: inset 0 3px 10px 2px variables.$color-table-cell-shadow;
            }
        }
        // Layout
        padding-left: 10px;
        padding-right: 10px;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        input[type=checkbox] {
            margin-left: 1px;
            margin-right: 1px;
            vertical-align: middle;
        }

        // Aesthetic Style
        border-right: 1px solid variables.$main-border-color;
        border-left: 1px solid variables.$white;
        border-bottom: 1px solid $border-color;
        user-select: none;
        background: linear-gradient(to bottom, variables.$table-color-off-white-dark-1, variables.$table-off-white-gradient);

        // Typography
        line-height: 35px;
        text-align: left;
        font-size: 13px;
        font-weight: 600;
        color: variables.$medium-prim-color;
        text-shadow: 0px 1px 0px variables.$white;

        > .info {
            padding-left: 5px;
        }

        // Darken tbl when sorted on
        &.col-sort {
            background: variables.$table-color-off-white-dark-2;
            box-shadow: inset 0 3px 10px 2px variables.$color-table-cell-shadow;
        }

        // Special column
        &.action {
            width: 202px;
            text-align: center;
            padding-left: 0;

            &.single {
                width: 70px !important;
            }

            &.double {
                width: 80px !important;
            }

            &.triple {
                width: 110px !important;
            }
        }

        &.small {
            width: 30px;
        }

        &.medium {
            width: 78px;
        }

        &.large {
            width: 100px;
        }

        &.full-width {
            width: 100%;
        }

        &.status-col {
            width: 43px;
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .chevron-up {
                    color: variables.$color-gray;
                }
                .chevron-down {
                    color: variables.$color-gray;
                }
                .active {
                    color: variables.$color-darkgray;
                }

                &.chevron-pair {
                    .chevron-up{
                        position: relative;
                        top: 3px;
                    }
                    .chevron-down {
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }
    }

    tr {
        font-size: 12px;

        // Give every other row a background
        &:nth-child(even) {
            @include apply-row-stripe;
        }

        // This selects first and last TD within the last TR.
        &:last-child {
            > td {
                border-bottom: none;

                &:last-child {
                    border-bottom-right-radius: variables.$main-border-radius;
                }

                &:first-child {
                    border-bottom-left-radius: variables.$main-border-radius;
                }
            }
        }

        // Used on main tbl views when bold items are needed
        // at the bottom of rows.
        &.total {
            > td {
                background: variables.$color-lightgray-dark-1;
                color: variables.$medium-prim-color;
                font-weight: bold;

                &:first-child {
                    text-align: right;
                    padding-right: 20px;
                }
            }
        }

        &.darker-row {
            background: variables.$color-lightgray-dark-2;
        }

        &.disabled {
            opacity: 50%;
        }
    }

    td.highlighted-cell {
        font-weight: bold;
    }

    td {
        .checkmark {
            float: right;
            color: variables.$green;
            margin-top: 3px;
            font-size: 18px;
            opacity: 0;
            visibility: hidden;
            transition: all .2s;

            &.active {
                opacity: 1;
                visibility: visible;
            }

        }
    }

    td {
        max-width: 800px;
        padding: $col-padding;
        color: variables.$medium-prim-color;
        border-right: 1px solid variables.$main-border-color;
        line-height: 20px;
        vertical-align: middle;

        // Action icons
        > a, > button {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
            position: relative;
            border-radius: inherit;
            color: variables.$ref-blue;
            padding: unset;
            line-height: normal;

            &.action-cell-button {
                width: 17px;
                height: 17px;

                > svg {
                    width: 100%;
                    height: 100%;
                }

                .blue {
                    color: variables.$ref-blue;
                }

                .darkgrey {
                    color: variables.$color-darkgray;
                }
            }

            &.remove {
                color: variables.$red;
            }

            &.more-series {
                color: variables.$green;
            }

            &.cut {
                .badge {
                  position: relative;
                  margin-right: -9px;
                  left: -7px;
                  bottom: 10px;
                  width: 6px;
                  height: 6px;
                  display: inline-block;
                  border-radius:100%;
                  background-color: variables.$red;
                }
            }

            &.edit {
                color: variables.$l-blue;
            }

            &.fa {
                font-size: 18px;
                color: variables.$color-darkgray;
            }

            &.crosslink {
                border-bottom: 1px solid transparent;
                text-align: left;

                &:hover {
                    border-bottom: 1px solid;
                }
             }

            .notification {
                position: absolute;
                top: -3px;
                right: -3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                border: 2px solid variables.$white;
                background: variables.$red;
                width: 10px;
                height: 10px;
            }
        }

        .notes-container {
            overflow-y: auto;

            .notes {
                &:first-child h4 {
                    margin-top: 0;
                }

                // Hide first HR
                &:first-child > hr {
                    display: none;
                }

                > hr {
                    background: variables.$lighter-border-color;
                    height: 1px;
                    border: none;
                }
            }

            .textarea {
               font-size: 11px;
               line-height: 15px;
               width: 100%;
               resize: none;
               padding: 5px 10px;
            }
        }

        &.nowrap {
            white-space: nowrap;
        }

        // For action row that only has one button
        &.single-btn > a {
            margin-left: 10px;
        }

        &:last-child {
            border-right: none;
        }

        .title {
            font-weight: bold;
        }

        span[data-status]:before {
            display: inline-block;
            width: 12px;
            height: 12px;
            line-height: 20px;
            border-radius: 50%;
            margin: 5px 5px 0;
            content: '';
            vertical-align: top;
        }

        span[data-status="AGENTS.STATUS.OFFLINE"]:before {
            background: black;
        }

        span[data-status="AGENTS.STATUS.IDLE"]:before {
            background: variables.$green;
        }

        span[data-status="AGENTS.STATUS.SHUTTING_DOWN"]:before,span[data-status="AGENTS.STATUS.UNKNOWN"]:before {
            background: variables.$yellow;
        }

        span[data-status="AGENTS.STATUS.CAPTURING"]:before,span[data-status="AGENTS.STATUS.UPLOADING"]:before {
            background: variables.$l-blue;
        }

        span[data-status="AGENTS.STATUS.ERROR"]:before {
            background: variables.$red;
        }

        // Circles used on server page
        .circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0;

            &.green {
                background: variables.$green;
            }

            &.red {
                background: variables.$red;
            }

            &.blue {
                background: variables.$l-blue;
            }

            &.yellow {
                background: variables.$yellow;
            }
        }

        // Input
        > input {
            box-sizing: border-box;
            border: variables.$thin-border-stroke variables.$color-silver;
            border-radius: variables.$main-border-radius;
            display: inline-block;
            padding-left: 10px;
            vertical-align: middle;
        }

        .hidden-input {
            border: none;
            width: 100%;
            height: 100%;
            color: variables.$dark-prim-color;
            padding-left: 0;
        }

        .required {
            color: variables.$red;
        }

        textarea.hidden-input {
            resize: none;
        }

        > .ios {
            margin: 5px 0 0 20px;
        }
    }

    // Special columns
    // ---------------

    .metadata-entry {
        border: 1px solid variables.$color-silver;
        border-radius: 5px;
        padding: 0 5px;
        margin-right: 5px;
        display: inline-block;
        text-align: left;
    }
}


// Object Container Nested Tables
.obj-container table.main-tbl {
    border-radius: 0 !important;

    &:not(:first-child) {
        border-top: 1px solid variables.$main-border-color;
    }
}
