@use "sass:color";
@use "../../../../node_modules/bourbon/core/bourbon/library/border-radius";
@use "../../base/fontawesome/fa-mixins";
@use "../../base/fontawesome/variables" as variables2;
@use "../../base/variables";
@use "../../mixins/button";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */

@mixin filter-dd-mixin {
    $width: 200px;
    @include filter-dd-content-mixin($width);
    &:after, &:before { left: 180px; }
}

@mixin filter-dd-content-mixin ($width) {
    // Base styles
    position: absolute;
    top: 52px; left: 0;
    z-index: variables.$max-z;
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
    background: #fff;
    border: variables.$thin-border-stroke variables.$main-border-color;
    border-radius: variables.$main-border-radius;
    width: $width;

    // Common Elements
    header {
        background: linear-gradient(#fff, #f7f7f7);
        border-top-left-radius: variables.$main-border-radius;
        border-top-right-radius: variables.$main-border-radius;
        border-bottom: 1px solid variables.$main-border-color;
        height: 30px;
        > h4 {
            line-height: 30px;
            padding-left: 10px;
        }
        > button {
            float: right;
            padding-right: 5px;
            padding-top: 5px;
            @include fa-mixins.fa-icon(variables2.$fa-var-close, before, inline-block, 0, 0, variables.$medium-prim-color, 17px);
        }
    } // header
    .footer-btn {
        background: linear-gradient(#fafafa, #f0f2f5);
        border-top: 1px solid color.adjust(#f0f2f5, $lightness: -10%);
        border-bottom-left-radius: variables.$main-border-radius;
        border-bottom-right-radius: variables.$main-border-radius;
        display: block;
        line-height: 30px;
        text-align: center;
    } // footer-btn
}

.df-profile-filters {
    pointer-events: none; // allows scroll through object

    display: inline-block;

    border: variables.$thin-border-stroke variables.$main-border-color;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: black 40%;
    text-shadow: 0px 1px 0px #fff;

    .df-profile-button {
        display: block;
        position: absolute;
        top: 11px;
        right: 8px;
        cursor: pointer;
        pointer-events: auto;
        @include fa-mixins.fa-icon(variables2.$fa-var-cogs, before, inline-block, 0, 0, variables.$medium-prim-color, 10px);
        font-family: "Open Sans", sans-serif;
        color: #555;

        transition-property: visibility, opacity;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-delay: 160ms;

        &:before {
            transition: color 250ms ease-in-out;
        }

        &:hover {
            @include fa-mixins.fa-icon-color(before, variables.$alt-red);
        }
    }

    &.disabled .df-profile-button {
        @include fa-mixins.fa-icon-color(before, variables.$light-prim-color);

        &:hover {
            @include fa-mixins.fa-icon-color(before, variables.$light-prim-color);
        }
    }

    .filters-list {
        @include filter-dd-mixin();

        // Content styles
        ul {
            line-height: 35px;
            cursor: default;
        } // ul

        li {
            display: flex;
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            padding: 7px 10px;

            .remove {
                @include fa-mixins.fa-icon(variables2.$fa-var-close, before, inline-block, 0, 0, variables.$medium-prim-color, 17px);
            }

            .edit {
                @include fa-mixins.fa-icon(variables2.$fa-var-cog, before, inline-block, 0, 0, variables.$medium-prim-color, 17px);
                padding-left: 5px;
                padding-right: 5px;
            }

            > button {
                overflow-wrap: anywhere;
                font-size: inherit;
                text-align: start;

              &.active { color: variables.$l-blue; }

              &:first-child { flex-grow: 1; }
            }

        } // li
    }

    .filter-details {
        @include filter-dd-mixin();

        .edit-details {
            padding: 5px 10px;

            > label {
                display: block;
                line-height: 20px;
            }

            > input, textarea {
                padding-left: 10px;
                width: 100%;
                margin-bottom: 10px;
                resize: none;
                font-size: 12px;
            }

            > input {
                height: 30px;
            }

        } // edit-details

        .input-container {

            //padding: 10px;

            > label {
                display: block;
                line-height: 20px;
            }

            > input, textarea {
                padding-left: 10px;
                width: 100%;
                margin-bottom: 10px;
                resize: none;
                font-size: 12px;
            }

            > input {
                height: 30px;
            }

        } // input-container

        &.active {
            opacity: 1;
            visibility: visible;
        }

    } // filter-details

    // Contains buttons and inputs
    .input-container {

        .btn-container {
            width: 100%;
            float: right;
            padding: 5px;
            @include border-radius.border-bottom-radius(variables.$main-border-radius);
            background: color.adjust(variables.$body-background, $lightness: -3%);
            border-top: 1px solid variables.$main-border-color;
        }

        .cancel {
            @include button.btn(white);
            margin-right: 3px;
            float: left;
            height: 28px;
        } // cancel

        .save {
            @include button.btn(green);
            text-shadow: none;
            float: right;
            height: 28px;
        } // save
    } // input-container

    &.active { .filters-list {
        opacity: 1;
        visibility: visible;
    } } // filters-list active
}


