@use "../../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


.df-label {
    visibility: hidden;
    opacity: 0;
    margin-bottom: 3px;
    font-size: 10px;
    font-weight: variables.$weight-semibold;
    color: variables.$medium-prim-color;

    // Hide Behind Parent
    position: relative;
    z-index: -1;
    transform: translateY(15px);

    transition-property: visibility, opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 80ms;

    .js-df-state-new-filter & {
        visibility: visible;
        opacity: 1;

        // Reveal from origin
        z-index: 1;
        transform: translateY(0px);
    }
}