@use "../../base/variables";
@use "../../mixins/button";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Common Modal Components
// ----------------------------------------

.modal .obj {

    // Comments
    // ----------------------------------------

    &.comments {

        .comment-container {
            padding: variables.$modal-container-padding;
            height: 300px;
            overflow-y: auto;

            .comment {
                margin-bottom: 20px;

                &:first-child h4 {
                    margin-top: 0;
                }

                .is-reply {

                    > h4 {
                        padding-left: 30px;
                    }

                    .category {
                        padding-left: 30px;
                    }

                    > p {
                        padding-left: 30px;
                    }
                }

                // Hide first HR
                &:first-child > hr {
                    display: none;
                }

                > hr {
                    background: variables.$lighter-border-color;
                    height: 1px;
                    border: none;
                    margin: 30px 0 20px;
                }

                > h4 {
                    font-weight: 600;
                }

                .category {
                    font-size: 10px;
                    color: variables.$medium-prim-color;

                    > strong {
                        color: variables.$medium-prim-color;
                    }
                }

                .date {
                    float: right;
                    font-size: 10px;
                    color: variables.$light-prim-color;
                    display: flex;

                    .dateIcon {
                        font-size: 10px;
                        margin: 0 5px 0 0;
                    }
                }

                > p {
                   margin: 7px 15px 0 0;
                   font-size: 11px;
                   line-height: 15px;

                    > span {
                        color: variables.$l-blue;
                    }
                }

                .reply,
                .delete,
                .resolve {
                    float: right;
                    font-size: 11px;
                    font-weight: 600;
                    cursor: pointer;
                    color: variables.$l-blue;
                    line-height: inherit;
                    padding: initial;
                }

                .delete {
                    color: variables.$red;
                    margin-left: 10px;
                    display: flex;
                    gap: 2px;

                }

                .resolve {
                    color: variables.$light-prim-color;
                    margin-right: 10px;
                    cursor: default;

                    &.resolved {
                        color: variables.$green;
                    }
                }

                &.active {
                    background: variables.$color-lightgray; //BDDAF1;
                }
            }
        }

        .add-comment {
            background: variables.$off-white;
            border-top: variables.$thin-border-stroke variables.$lighter-border-color;
            border-bottom-left-radius: variables.$main-border-radius;
            border-bottom-right-radius: variables.$main-border-radius;
            height: 191px;
            padding: 3%;
            display: flex;
            flex-wrap: wrap;

            textarea {
                flex: 100%;
                width: 100%;
                height: 80px;
                resize: none;
                margin-bottom: 24px;
            }

            .editable {
              flex: 50%
            }

            .editable > div {
              width: 50%;
            }

            button.save {
                min-width: 100px;
                @include button.btn(green);
            }

            button.cancel {
              min-width: 100px;
              @include button.btn(red);

            }

            .resolved-checkbox {
              flex: 20%;
            }
        }
    }

    // Headerless Table Lists
    // ----------------------------------------

    &.tbl-list table td {

        &:first-child {
            max-width: 150px;
        }

        &:last-child {
            color: variables.$dark-prim-color;
        }
    }



    // Checkbox Container
    // ----------------------------------------

    .checkbox-container {
        margin-top: 5px;

        label {
            font-size: 12px;
            line-height: 30px;
        }

        input {
            margin-right: 10px;
        }
    }


    // Button Properties
    // ----------------------------------------

    .btn-container {
        margin: 20px 0;
    }

    .cancel-btn {
        margin: 10px 10px 0 0;
    }



    // Sub modal tab link
    // ----------------------------------------

    .details-link {
        color: variables.$ref-blue;
        white-space: nowrap;
        display: flex;
        align-items: center;

        .details-link-icon {
            margin-left: 2px;
            margin-top: 2px;
        }

        &:hover {
            color: variables.$color-link-hover;
        }
    }

    // Manage Files
    // ----------------------------------------

    .upload-file-info {
        color: variables.$medium-prim-color;
        font-size: 10px;
        font-weight: variables.$weight-semibold;
        background: variables.$white;
        border: 1px solid variables.$main-border-color;
        border-radius: 10px;
        height: 19px;
        display: inline-block;
        box-shadow: 0 1px 3px variables.$color-button-box-shadow;

        // Filename label
        p {
            color: variables.$dark-prim-color;
            padding: 4px 10px;
            float: left;
            max-width: 175px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            .edit {
                padding: 0px 10px;
            }
        }

        .button-container {
            float: right;
            height: 100%;
            overflow: hidden;
        }

        .remove-file-button {

            // Reset
            appearance: none;
            background: none;
            border: none;
            margin: auto;;
            height: 100%;
            min-width: 0;
            color: variables.$medium-prim-color;
            border-radius: 0;

            // Styles
            border-left: 1px solid variables.$main-border-color;
            padding: 0 6px;
            padding-right: 8px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            .remove-file-button-icon {
                color: variables.$main-border-color;
                font-size: 10px;

                &:hover {
                    color: variables.$medium-prim-color;
                }
            }
        }
    }

    button {

        &:first-child {
           margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .upload-button {
        @include button.btn(brightblue);
    }


    // Summary & Content List
    // ----------------------------------------

    .content-list,
    .summary-list {

        li {
            padding: 20px 0 !important; // ## Todo: Fix this override

            &:first-child {
                padding-top: 0 !important;
            }

            &:last-child {
                padding-bottom: 0 !important;
            }
        }

        .video-container {
            margin: 15px 0;
        }

        h4 {
            font-size: 18px;
            font-weight: variables.$weight-regular;
            line-height: 24px;
            color: variables.$dark-prim-color;
            margin-bottom: 5px;
        }
    }

    .list-row {
        padding: 15px 0;
        border-bottom: 1px solid variables.$main-border-color;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        label.large {
            font-size: 16px;
        }
    }

    .list-sub-row {
        display: flex;
        padding: 5px 0;
    }

    .header-column,
    .content-column {
        float: left;
    }

    .header-column {
        width: 24.25%;
        margin-right: 1.5%;
    }

    .content-column {
        width: 74.25%;
    }

    .content-container {
        float: right;
    }


    // Watermark Layout
    // ----------------------------------------

    .video-container {
        .position-selection {
            position: relative;
            padding: 5px;
            border: 1px solid variables.$main-border-color;
            border-radius: variables.$main-border-radius;
            box-shadow: 0 0 3px variables.$color-dropdown-box-shadow;
            background: variables.$white;
            min-height: 202px;
        }

        .position-button {
            @include button.btn(white);
            position: absolute;
            min-width: 100px;

            &.active {
                @include button.btn(brightblue);
                text-shadow: none !important;
                position: absolute;
            }
        }

        .position-top-left {
            top: 5px;
            left: 5px;
        }

        .position-top-right {
            top: 5px;
            right: 5px;
        }

        .position-bottom-left {
            bottom: 5px;
            left: 5px;
        }

        .position-bottom-right {
            bottom: 5px;
            right: 5px;
        }
    }
}
