@use "sass:color";
@use "../../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


.drag-drop-items {
    box-sizing: border-box;
    padding: 15px 10px;

    .drag-item {
        user-select: none;
        height: 35px;
        width: 100%;
        border-radius: variables.$main-border-radius;
        cursor: move;
        border: variables.$thin-border-stroke variables.$main-border-color;
        background: linear-gradient(to bottom, #fff, #f3f5f6);
        color: color.adjust(#8c939b, $lightness: -10%);
        font-weight: 600;
        text-shadow: 0px 1px 0px #fff;
        font-size: 13px;
        position: relative;
        margin: 10px 0;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        transition: box-shadow .3s ease-in-out;

        .title {
            padding: 10px;
            padding-left: 32px;
        }

        &:hover {
            background: linear-gradient(to bottom, #fff, color.adjust(#f3f5f6, $lightness: -2%));
        }

        &:active,
        &.being-dragged {
            background: linear-gradient(to bottom, color.adjust(#fff, $lightness: -2%), color.adjust(#f3f5f6, $lightness: -3%));
            cursor: move;
            border: variables.$thin-border-stroke color.adjust(variables.$main-border-color, $lightness: -5%);
            box-shadow: 0 0 4px rgba(0,0,0,0.1);
        }

        &:first-child {
           margin-top: 0;
        }

        &:last-child {
           margin-bottom: 50px;
        }

        // Grip Dots

        &:before {
            width: 13px;
            height: 14px;
            content: "";
            position: absolute;
            top: 12px;
            left: 10px;
            background-image: url("#{variables.$img-path}/grip.png");
            background-size: 13px 14px;
        }

        // Item Move Buttons

        .move-item {
            height: 17px;
            width: 17px;
            position: absolute;
            top: 9px;
            right: 10px;
            padding: 0;

            &.add {
                background-image: url("#{variables.$img-path}/plus-icon.png");
                background-size: 17px 17px;
            }

            &.remove {
                background-image: url("#{variables.$img-path}/remove-icon.png");
                background-size: 17px 17px;
            }
        }
    }
}