@use "sass:color";
@use "../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */

// Button mixin
@mixin btn($color) {
    font-family: variables.$font-stack;
    text-align: center;
    border-radius: variables.$main-border-radius;
    color: #fff;
    padding: 5px 10px;
    position: relative;

    @if $color == green-dark-bg {
        box-shadow: inset 0px 1px 0px 0px variables.$primary-color-green-light-1, 0px 2px 3px 1px rgba(0,0,0,.05);

        background: linear-gradient(variables.$primary-color-green, variables.$primary-color-green-dark-1);

        border: variables.$thin-border-stroke variables.$dark-bg-border-color;

        &:hover {
            cursor: pointer;
            background: linear-gradient(variables.$primary-color-green-light-1, color.adjust(variables.$primary-color-green-dark-2, $lightness: -5%));
        }

        &:focus {
            cursor: pointer;
            background: linear-gradient(variables.$primary-color-green-light-1, color.adjust(variables.$primary-color-green-dark-2, $lightness: -5%));
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0px 3px 10px 1px variables.$primary-color-green-dark-2;
            background-color: variables.$primary-color-green-dark-1 !important;
        }
    }

    @else if $color == blue-dark-bg {
        box-shadow: inset 0px 1px 0px 0px #456c8e, 0px 2px 3px 1px rgba(0,0,0,.05);

        background: linear-gradient(#3a5e7e, #2c9966);

        border: variables.$thin-border-stroke variables.$dark-bg-border-color;

        &:hover {
            cursor: pointer;
            background: linear-gradient(color.adjust(#3a5e7e, $lightness: 5%), color.adjust(#2c9966, $lightness: -10%));
        }

        &:focus {
            cursor: pointer;
            background: linear-gradient(color.adjust(#3a5e7e, $lightness: 5%), color.adjust(#2c9966, $lightness: -10%));
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0px 3px 10px 1px color.adjust(#2c9966, $lightness: -3%);
        }
    }

    @else if $color == green {
        box-shadow: inset 0px 1px 0px 0px variables.$primary-color-green-light-1, 0px 2px 3px 1px rgba(0,0,0,.05);

        background: linear-gradient(variables.$primary-color-green, variables.$primary-color-green-dark-1);

        border: variables.$thin-border-stroke variables.$primary-color-green-dark-3;

        &:hover {
            cursor: pointer;
            background: linear-gradient(variables.$primary-color-green-light-1, color.adjust(variables.$primary-color-green-dark-2, $lightness: -10%));
        }

        &:focus {
            cursor: pointer;
            background: linear-gradient(variables.$primary-color-green-light-1, color.adjust(variables.$primary-color-green-dark-2, $lightness: -10%));
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0px 3px 10px 1px variables.$primary-color-green-dark-2;
            background-color: variables.$primary-color-green-dark-1 !important;
        }
    }

    @else if $color == blue {
        box-shadow: inset 0px 1px 0px 0px #456c8e, 0px 2px 3px 1px rgba(0,0,0,.05);

        background: linear-gradient(#3a5e7e, #2c9966);

        border: variables.$thin-border-stroke variables.$dark-bg-border-color;

        &:hover {
            cursor: pointer;
            background: linear-gradient(color.adjust(#3a5e7e, $lightness: -1%), color.adjust(#2c9966, $lightness: -10%));
        }

        &:focus {
            cursor: pointer;
            background: linear-gradient(color.adjust(#3a5e7e, $lightness: -1%), color.adjust(#2c9966, $lightness: -10%));
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0 3px 10px 1px color.adjust(#2c9966, $lightness: -3%);
        }
    }

    @else if $color == lightblue {

        box-shadow: inset 0px 1px 0px 0px color.adjust(#388ed6, $lightness: 10%), 0px 2px 3px 1px rgba(0,0,0,.05);

        background: linear-gradient(#388ed6, #2b77b9);

        border: variables.$thin-border-stroke color.adjust(#2b77b9, $lightness: -5%);

        &:hover {
            cursor: pointer;
            background: linear-gradient(color.adjust(#388ed6, $lightness: 10%), color.adjust(#2b77b9, $lightness: -10%));
        }

        &:focus {
            cursor: pointer;
            background: linear-gradient(color.adjust(#388ed6, $lightness: 10%), color.adjust(#2b77b9, $lightness: -10%));
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0px 3px 10px 1px color.adjust(#2b77b9, $lightness: -5%);
        }
    }

    @else if $color == brightblue {

        box-shadow: inset 0px 1px 0px 0px color.adjust(#55cef2, $lightness: 10%), 0px 2px 3px 1px rgba(0,0,0,.05);

        background: linear-gradient(#55cef2, #4da1f7);

        border: variables.$thin-border-stroke color.adjust(#4da1f7, $lightness: -10%);

        &:hover {
            cursor: pointer;
            background: linear-gradient(color.adjust(#55cef2, $lightness: 5%), color.adjust(#4da1f7, $lightness: -10%));
        }

        &:focus {
            cursor: pointer;
            background: linear-gradient(color.adjust(#55cef2, $lightness: 5%), color.adjust(#4da1f7, $lightness: -10%));
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0px 3px 10px 1px color.adjust(#4da1f7, $lightness: -5%);
        }
    }

    @else if $color == red {
        box-shadow: inset 0px 1px 0px 0px color.adjust(variables.$alt-red, $lightness: 10%), 0px 2px 3px 1px rgba(0,0,0,.05);

        background: linear-gradient(color.adjust(variables.$alt-red, $lightness: 5%), color.adjust(variables.$alt-red, $lightness: -5%));

        border: variables.$thin-border-stroke color.adjust(variables.$alt-red, $lightness: -20%);

        &:hover {
            cursor: pointer;
            border: variables.$thin-border-stroke color.adjust(variables.$alt-red, $lightness: -30%);
            background: linear-gradient(color.adjust(variables.$alt-red, $lightness: 10%), color.adjust(variables.$alt-red, $lightness: -10%));
        }

        &:focus {
            cursor: pointer;
            border: variables.$thin-border-stroke color.adjust(variables.$alt-red, $lightness: -30%);
            background: linear-gradient(color.adjust(variables.$alt-red, $lightness: 10%), color.adjust(variables.$alt-red, $lightness: -10%));
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0px 3px 10px 1px color.adjust(variables.$alt-red, $lightness: -5%);
        }
    }

    @else if $color == white {

        background: linear-gradient(#fff, #f7f7f7);
        border: variables.$thin-border-stroke variables.$main-border-color;
        box-shadow: inset 0px 1px 0px 0px #fff, 0px 1px 2px rgba(0,0,0,.05);
        color: variables.$medium-prim-color;
        text-shadow: 0px 1px 0px #fff;

        &:hover {
            cursor: pointer;
            border: variables.$thin-border-stroke color.adjust(variables.$main-border-color, $lightness: -2%);
            background: linear-gradient(color.adjust(#fff, $lightness: -4%), color.adjust(#f7f7f7, $lightness: -10%));
            color: variables.$medium-prim-color;
        }

        &:focus {
            cursor: pointer;
            border: variables.$thin-border-stroke color.adjust(variables.$main-border-color, $lightness: -2%);
            background: linear-gradient(color.adjust(#fff, $lightness: -4%), color.adjust(#f7f7f7, $lightness: -10%));
            color: variables.$medium-prim-color;
        }

        &:active {
            cursor: pointer;
            box-shadow: inset 0px 1px 6px 2px rgba(0,0,0,.1);
        }
    }

    > i {
        display: inline-block;
        margin-right: 10px;
    }
}

// Standard button styles
button {
    display: inline-block;
    height: variables.$btn-height;
    border-radius: variables.$main-border-radius;
    color: #fff;
    font-size: 12px;
    font-weight: variables.$weight-semibold;
}

// Need to be added for moving from anchor to button tags
.button-like-anchor {
    height: initial;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: inherit;
    font-family: inherit;

    color: #069;
}

// Buttons
.add-btn {
    @include btn(green);
    display: inline;

    // Circle button
    &.circle-btn {
        border-radius: 50%;
        display: inline-block;
        padding: 0;
        width: 24px;
        height: 24px;

        > i {
            position: absolute;
            top: 7px;
            left: 7px;
        }
    }
}

.cancel-btn {
    @include btn(white);
}

.blue-btn {
    @include btn(lightblue);
}

.red-btn,
.danger-btn {
    @include btn(red);
}
