name: Publish Pull Request Page

on:
  pull_request_target:
    types:
      - opened
      - synchronize

concurrency:
  group: pull-request-page
  cancel-in-progress: false

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: generate build path
        run: echo "::set-output name=build::${{github.event.number}}/$(date +%Y-%m-%d_%H-%M-%S)/" | sed 's_build::/*_build::_'
        id: build-path

      - name: checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: get node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: download dependencies
        run: npm ci

      - name: determine the correct test server
        id: vite-url
        run: echo "VITE_TEST_SERVER_URL=`./.github/get-release-server.sh ${{ github.base_ref }}`" >> GITHUB_ENV

      - name: build app
        env:
          VITE_TEST_SERVER_URL: ${{ steps.vite-url.outputs.VITE_TEST_SERVER_URL }}
          NODE_ENV: development
          VITE_TEST_SERVER_AUTH: "admin:opencast"
        run: npm run build

      - name: prepare git
        run: |
          git config --global user.name "Admin Interface Deployment Bot"
          git config --global user.email "cloud@opencast.org"

      - name: prepare GitHub SSH key
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY_TEST }}
        run: |
          install -dm 700 ~/.ssh/
          echo "${DEPLOY_KEY}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: wait for previous workflows to finish
        uses: softprops/turnstyle@v2
        with:
          same-branch-only: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: clone repository
        run: |
          git clone "git@github.com:opencast/opencast-admin-interface-test.git" admin-interface-test

      - name: switch to gh-pages branch
        working-directory: admin-interface-test
        run: |
          git checkout gh-pages

      - name: store build
        working-directory: admin-interface-test
        env:
          DEPLOY_PATH: ${{ steps.build-path.outputs.build }}
        run: |
          mkdir -p ${DEPLOY_PATH}
          cp -rv ../build/* ${DEPLOY_PATH}

      - name: generate index.html
        working-directory: admin-interface-test
        run: |
          echo '<html><body><ul>' > index.html
          find . -maxdepth 2 -name '*_*' -type d \
            | sort -r \
            | sed 's/^\(.*\)$/<li><a href=\1>\1<\/a><\/li>/' >> index.html
          echo '</ul></body></html>' >> index.html

      - name: commit new version
        working-directory: admin-interface-test
        run: |
          git add .
          git commit -m "Build ${{ steps.build-path.outputs.build }}"

      - name: push updates
        working-directory: admin-interface-test
        run: |
          git push origin gh-pages

      - name: add comment with deployment location
        uses: thollander/actions-comment-pull-request@v3
        with:
          comment-tag: static-test-deployment
          message: >
            This pull request is deployed at
            [test.admin-interface.opencast.org/${{ steps.build-path.outputs.build }}
            ](https://test.admin-interface.opencast.org/${{ steps.build-path.outputs.build }}).

            It might take a few minutes for it to become available.
